*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
}
body{
    background: #B4C7B7;
}
.decoration{
    text-decoration: none !important;
}
.hover:hover{
    background: #E9E8EA;
    transition: .5s;
}
aside{
    height: auto;
}
.title{
    text-decoration: none;
    font-size: 36px;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 2px 4px aqua;
    transition: all .4s;
    line-height: 100px;

}
.title:hover{
    text-decoration: none;
    color: #222;
    text-shadow: 0px 2px 4px aqua, 0px 0px 4px aqua ;
}